{
    "env": {
      "browser": true
    },
    
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "extends": "airbnb",
    "rules": {
      "linebreak-style": 0,
      "global-require": 0,
      "no-use-before-define":0,
      "no-console": "off",
      "no-underscore-dangle": "off",
      "no-param-reassign": "off",
      "quotes": [2, "single", { "avoidEscape": true }],
      "eslint linebreak-style": [0, "error", "windows"],
      "no-mixed-operators": 0,
      "no-shadow": "off",
      "no-unused-vars":"off",
      "no-undef":"off",
      "max-len":"off"
    }
      
  }